---
---

$header-bg-color: #0bb2ab;
$header-bg-color-secondary: #00587c;

$section-headings-color: #1f82c0;

@import "{{ site.theme }}";

.layout{
  display: flex;
  gap: 2rem;
}

/* Sidebar */
.sidebar{
  flex: 0 0 240px;     /* fixe Breite */
}

/* Content soll den Cayman-Look behalten */
.content{
  flex: 1 1 auto;
  min-width: 0;        /* wichtig gegen Overflow */
}

.side-nav ul { list-style: none; padding-left: 0; }
.side-nav a { text-decoration: none; display: block; padding: .3rem 0; }
.side-nav a.active { font-weight: 700; }

#content {
	max-width: 96rem;
}

.breadcrumbs ul {
	list-style: none;
	padding: 0;
}

.breadcrumbs li {
	display: inline;
}

.breadcrumbs li+li:before {
	padding: 0.5rem;
	color: #606c71;
	content: "/\00a0";
}

.main-content h1 {
	font-weight: bold !important;
}

.main-content h2 {
	font-weight: bold !important; 
}

.main-content h3 {
	margin-bottom: 0rem !important;
}

.main-content h4 {
	margin-top: 1rem !important; 
	margin-bottom: 0rem !important; 
	font-style: italic !important;
}

.collapsed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.expanded {
    height: auto;
    transition: height 0.3s ease;
}


